<component name="libraryTable">
  <library name="spring-web-4.3.7.RELEASE">
    <CLASSES>
      <root url="jar://I:/This_Lfh/LFH_UseFul_Notes/实用记录/A-UEditor/ueditor-1.4.3.3/ueditor-1.4.3.3/jsp/lib/spring-web-4.3.7.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>